

  
<body>
  <div class="container">
    <div class="jumbotron ">
      <h1 class="display-3 text-center">Start Training</h1>
      <p class="lead text-center">Select the components that need to be trained</p>
      <p></p>
      <form [formGroup]="contactForm" (ngSubmit)="submit(buttonType)">
        <div class="form-group"></div>
        <div class="row mx-auto">
          <div class="col-sm-3">
            <label>Choose a gripperjack </label>
            <div class="form-group">
              <select class="form-control" (change)="changeGripperjack($event)">
                <option *ngFor="let gripperjack of gripperjacks" [ngValue]="gripperjack.id">{{gripperjack.name}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group" (change)="changePart($event)">
              <label>Choose a part </label>
              <select class="form-control">
                <option *ngFor="let part of parts" [ngValue]="part.id">{{part.name}}</option>
              </select></div>
            <h3></h3>
          </div>
          <div class="col-sm-3">
            <div class="form-group"><label>Choose a value type </label><select class="form-control"
                (change)="changeValueType($event)">
                <option *ngFor="let return of return_types" [ngValue]="return.id">{{return.name}}</option>
              </select></div>
            <h3></h3>
          </div>
          <div class="col-sm-3">
            <div class="form-group" (change)="changeTimeInterval($event)"><label>Choose a time </label><select
                class="form-control">
                <option *ngFor="let time of time_frames" [ngValue]="time.id">{{time.name}}</option>
              </select></div>
          </div>
          <button type="submit" (click)="submit('train')" class="btn-lg btn-outline-info mx-auto">Train</button>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="jumbotron ">
        <h1 class="display-3 text-center">Start Training</h1>
        <p class ="text-center">
        <small class="text-muted">This will only train the 5min peak variant of all the gripperjacks and their parts</small>
      </p> 

        <div class="row mx-auto">
          <button type="button" (click)="startRequest()" class="btn-lg btn-outline-info mx-auto">start</button>
          <button type="button" (click)="stopRequest()" class="btn-lg btn-outline-info mx-auto">stop</button>
        </div>
      </div>
    </div>